In [ ]:
Data Types And Structures Questions

Que.1  What are data structures, and why are they important.

Ans. Data structures are a way of storing and organizing data efficiently. This will allow you to access and perform operations on the data easily.

Python has a host of in-built data structures that help us to organize our data easily. Therefore, it becomes imperative to get acquainted with these first so that when dealing with data, we know exactly which data structure will solve our purpose effectively.




Que.2 Explain the difference between mutable and immutable data types with examples.

Ans.In Python, Every variable in Python holds an instance of an object. There are two types of objects in Python i.e. Mutable and Immutable objects.

Immutable Objects in Python:

Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple. In simple words, an immutable object can’t be changed after it is created.

 we will take a tuple and try to modify its value at a particular index and print it. As a tuple is an immutable object, it will throw an error when we try to modify it.


 Mutable Objects in Python:

Mutable Objects are of type Python list, Python dict, or Python set. Custom classes are generally mutable.

In this example, we will take a Python List object and try to modify its value using the index. A list in Python is mutable, that is, it allows us to change its value once it is created. Lists have the ability to add and remove elements dynamically. Lists provide methods such as append(),insert(),extend(),remove() and pop().


Que.3 What are the main differences between lists and tuples in Python.
Ans.Difference Between List and Tuple in Python

Lists and Tuples in Python are two different implementations of data structure.:
* List is Mutable and Tuple is not (Cannot update an element, insert and delete elements)
*Tuples are faster because of read only nature. Memory can be efficiently allocated and used for tuples.




Que.4 Describe how dictionaries store data.

Ans  Dictionaries are used to store data values in key:value pairs.
Dictionaries are a built-in data type in Python that allow you to store data as key-value pairs. They are similar to lists in that they can store multiple values, but unlike lists, they are not ordered and do not use integer indices. Instead, they use keys, which can be any immutable data type (such as strings, integers, or tuples). This makes dictionaries very useful for storing and accessing data quickly, especially when the data has some logical connection or meaning.

Que.5 Why might you use a set instead of a list in Python.

Ans  Sets and lists are used in Python to store and manipulate data in a program.

Used two parentheses to create the list. That's because the set() constructor expects one argument. Putting all the values in another set of parentheses makes all the values a single argument.
The set can also contain multiple data types strings, numbers, or booleans.
If you're wondering which to use, it depends on the use case. If you don’t want the values in the data to change, you can use a set. But if you want the items to change, you can use a list. You can also take into account whether the order of the items matters to you or not.

Que. 6  What is a string in Python, and how is it different from a list.

Ans.  A string is a sequence of characters. Python treats anything inside quotes as a string. This includes letters, numbers, and symbols.
Strings can be created using either single (‘) or double (“) quotes.If we need a string to span multiple lines then we can use triple quotes (”’ or “””).

      Difference Between List & String in Python.

      1. Strings can only consist of characters, while lists can contain any data type.

      2.  Mutability,. Strings are immutable, meaning that we cannot update them. But list is mutable We could update values in this, however quite easily.

      3. Indexing is possible in strings, another instance where strings can be treated as lists.

      4.  Strings follows the ASCII table to find the letters that occupy the lower positions.
       In lists, it selects and outputs the smallest element.
      
      5.Strings can be sliced. Slices are often used to copy parts or a whole list and create a new one.
      Slicing in lists copies part of a list or the whole list to create a new list.

  Que.7  How do tuples ensure data integrity in Python.

  Ans.   A tuple is an ordered collection of elements, similar to a list, but enclosed in parentheses () instead of square brackets [].The key characteristic of tuples is their immutability. Once you create a tuple, you cannot change its contents. This means you cannot add, remove, or modify elements within a tuple after it’s created. Attempting to do so will result in an error.
  Tuples ensure data integrity in Python by being immutable, ordered, and allowing duplicate values. They provide a way to group and manage data with the assurance of immutability, ensuring that the data's integrity is preserved. Unlike lists, tuples cannot be modified once created
  
  Que.8 What is a hash table, and how does it relate to dictionaries in Python.

  Ans.  A Hash table is defined as a data structure used to insert, look up, and remove key-value pairs quickly. It operates on the hashing concept, where each key is translated by a hash function into a distinct index in an array. The index functions as a storage location for the matching value. In simple words, it maps the keys with the value.

   dictionary is a general concept that maps keys to values. There are many ways to implement such a mapping.
A hashtable is a specific way to implement a dictionary.
Besides hashtables, another common way to implement dictionaries is red-black trees.
 Hash tables are important data structures; Python uses them to implement two important built-in data types, dict and set.
 A Python dictionary is internally implemented with a hashtable.

 Que.9 Can lists contain different data types in Python.

 Ans. The list class is a fundamental built-in data type in Python. It has an impressive and useful set of features, allowing you to efficiently organize and manipulate heterogeneous data.List is a flexible, versatile, powerful, and popular built-in data type. It allows you to create variable-length and mutable sequences of objects. In a list, you can store objects of any type. You can also mix objects of different types within the same list, although list elements often share the same type.

Que.10 Explain why strings are immutable in Python.

Ans. Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.
The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

Que.11 What advantages do dictionaries offer over lists for certain tasks.

Ans.  In Python, both dictionaries and lists are powerful tools for storing data.
Dictionaries offers several advantges over lists;

    *  Speed of access:  Dictionaries provide faster access to elements compared to lists.

    *  Key-value pairs: Dictionaries store data in key-value pairs, while lists are linear and represent data collections of the same type or function.

    * Order: Lists maintain the order of elements, while dictionaries do not.

    *  Use cases: Lists are useful for tasks like iterating through data or adding/removing elements from the end, while dictionaries allow for faster lookups based on unique keys.

  Que.12 Describe a scenario where using a tuple would be preferable over a list.

  Ans. Lists and Tuples in Python are two different implementations of array data structure.

   Using a Tuple would be preferable over a list in python in the following scenario:
            * When you want to collect an immutable ordered list of elements.

            * When you need an element in a set, which requires immutability.

             * When you want to avoid modifying items in the tuple, as Python tuples are immutable.


Que.13 How do sets handle duplicate values in Python.

Ans.Python offers the built-in set data structure, which inherently handles duplicates by design. Sets in Python not only help manage duplicate elements but also bring clear performance benefits in certain operations like membership testing and set arithmetic.
set is an unordered collection of distinct items, meaning it automatically removes any duplicate elements. This property makes sets particularly valuable when duplicates need to be managed or eliminated from a dataset.

Que.14 How does the “in” keyword work differently for lists and dictionaries.

Ans. The "in" keyword works differently for lists and dictionaries in Python. For lists, it checks for equality, while for dictionaries, it tests for value equality. The behavior is similar for other built-in sequences and set types.

Que.15  Can you modify the elements of a tuple? Explain why or why not.

Ans. Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)


Que.16 What is a nested dictionary, and give an example of its use case.

Ans. Nesting Dictionary means putting a dictionary inside another dictionary. Nesting is of great use as the kind of information we can model in programs is expanded greatly.
Nested dictionary can be created by placing the comma-separated dictionaries enclosed within braces.

# Example of Python Nested Dictionary
nested_dict = {
    'person1': {'name': 'Alice', 'age': 30},
    'person2': {'name': 'Bob', 'age': 25},
    'person3': {'name': 'Charlie', 'age': 40}
}
In this example, each person is represented by a dictionary that holds details like name and age. These dictionaries are then stored in a parent  dictionary, making it a Python Nested Dictionary.


Que.17  Describe the time complexity of accessing elements in a dictionary.


Ans.
Python dictionaries provide a fast and efficient way to store and retrieve data using key value pair so understanding the time complexities of dictionary operations is very important for optimizing performance in our programs.

  * Accessing Elements by Key (O(1)):

The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

   * Adding or Updating an Element (O(1))

Adding a new key-value pair or updating an existing key is also O(1) in average cases as the dictionary directly places the value in the hash table.

   *  Deleting an Element (O(1)

Removing an element by its key also has an average time complexity of O(1) using the same hash table mechanism.

    * Checking if a Key Exists (O(1))

The 'in' keyword allows us to check if a key exists in the dictionary with an average complexity of O(1).

  *  Iterating Over a Dictionary (O(n))

Iterating over keys, values, or items in a dictionary has a time complexity of O(n) where n is the number of elements.



Que.18 In what situations are lists preferred over dictionaries.

Ans.  Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.A Python list is a collection object used to store data in a sequential manner. In a list, each element has a particular position and we can access the data randomly using their position. On the other hand, a Python dictionary contains key-value pairs that don’t have a particular position.

 Both serve unique purposes and come with their own sets of advantages and limitations.Understanding when and why to use dictionaries over lists, or vice versa.

Que.19  Why are dictionaries considered unordered, and how does that affect data retrieval.

Ans.  A dictionary is often referred to as an unordered collection of objects because the elements within a dictionary are not arranged in a specific order. In other words, the items in a dictionary do not have an inherent positional index like they do in a list or an array.

Instead of using numerical indices to access elements, a dictionary uses keys to uniquely identify and retrieve values associated with those keys. Each key in a dictionary must be unique, and it serves as a label or identifier for its corresponding value. The keys are used as a hash, allowing for efficient retrieval of values.


Que.20 Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. Lists and Dictionaries in Python are inbuilt data structures that are used to store data. Lists are linear in nature whereas dictionaries stored the data in key-value pairs.

dictionary uses keys to uniquely identify and retrieve values associated with those keys. Each key in a dictionary must be unique, and it serves as a label or identifier for its corresponding value. The keys are used as a hash, allowing for efficient retrieval of values.

Practical Questions

Que .1 Write a code to create a string with your name annd print it.

Ans.

In [ ]:
strings ="reena tripathi"
print(strings)

reena tripathi

Que.2 Write a code to find the length of the string "Hello World"

In [ ]:
a="Hello World"
print(len(a))

11

Que.3  Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
a="python programming"
a2= a[0:3]
print(a2)

pyt

Que.4  Write a code to convert the string "hello" to uppercase.

In [ ]:
a= "hello"
b=a.upper()
print(b)

HELLO

Que.5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
a="i like apple"
b=a.replace("apple","orange")
print(b)

i like orange

Que.6 Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

Que.7  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

Que.8 Write a code to remove the number 3 from the list [1, 2, 3, 4,]

In [ ]:
a=[1,2,3,4]
a.remove(3)
print(a)

[1, 2, 4]

Que.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
a=["a","b","c","d"]
print(a[2])

c

Que.10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
a=[10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

Que.11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
a=(10,20,30)
print(a)

(10, 20, 30)

Que.12 write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
a=("apple","banana","cherry")
print(a[1])

banana

Que.13 . Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
a=(1,2,3,2,4,2)
b=a.count(2)
print(b)

3

Que. 14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals=("dog","cat","rabbit")
index = animals.index("cat")
print(index)

1

Que.15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
fruits =("apple","orange","banana",)
k="banana"
is_present= k in fruits
print(is_present)

True

Que.16  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

Que.17
 Write a code to add the element 6 to the set {1, 2, 3,4}.

In [ ]:
s={1,2,3,4}
s.add('6')
print(s)

{1, 2, 3, 4, '6'}

Que.18 Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
t=(10,20,30)
print(t)

(10, 20, 30)

Que.19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:
t=("apple","banana","cherry")
print (t[1])

banana

Que.20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
t=(1,2,3,2,4,2)
t.count(2)

3

Que.21  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
t=("dog","cat","rabbit")
t.index("cat")

1

Que.22 . Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
t=("apple","orange","banana")
k="banana"
is_present=k in t
print(is_present)

True

Que.23  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [ ]:
s=(1,2,3,4,5)
print(s)

(1, 2, 3, 4, 5)

Que. 24  Write a code to add the element 6 to the set {1, 2, 3, 4}

In [ ]:
s={1,2,3,4,}
s.add(6)
print(s)

{1, 2, 3, 4, 6}